<div class="container-fluid">
  <div class="row">
    <div class="m-2">
      <div class="col-12 col-md-4">
        <h1>
          Find recipes
        </h1>
        <div class="form-group">
          <input type="text" [(ngModel)]="ingredientToAdd" class="form-control" placeholder="Ingredient" >
          <button class="btn btn-primary mt-2" (click)="addIngredient()">Add <i class="bi bi-plus-circle"></i></button>
        </div>
        <div class="mt-2">
          <h3>
            Added ingredients
          </h3>
          <div *ngIf="myIngredients.length === 0">
            No ingredients were added yet.
          </div>
          <ul *ngFor="let ingr of myIngredients" class="list-group">
            <li class="list-group-item">
              {{ ingr }}
              <br>
              <button class="btn btn-danger" (click)="removeIngredient(ingr)"><i class="bi bi-trash"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary btn-lg mt-3" (click)="getRecipeList()">
        Look for recipes
      </button>
    </div>
  </div>
</div>
